<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Form</title>
</head>
<body>
    <h1>Web Form</h1>

    <form method="post">

        <input type="text" placeholder="Nome:" name="name" id="name">
        <br>
        <input type="email" placeholder="E-mail:" name="email" id="email">
        <br>
        <button type="submit">
            Cadastrar
        </button>
    </form>
</body>
</html>