<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Aluno</title>
</head>
<body>
    <form method="post">
        <input type="text" name="first_name" id="first_name" placeholder="Nome:"><br>
        <input type="text" name="last_name" id="last_name" placeholder="Sobrenome"><br>
        
        <label for="birth_date">Data de Nascimento</label><br>
        <input type="date" name="birth_date" id="birth_date"><br>
        
        <input type="text" name="email" id="email" placeholder="E-mail:"><br>

        <button type="submit">Enviar</button>
    </form>


</body>
</html>
