<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Estudantes</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Lista de Estudantes</h1>

    <a href="/register">Cadastrar Novo Aluno</a>

    <table border="1" id="studentsTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data de Nascimento</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <!-- As linhas serão preenchidas via AJAX -->
        </tbody>
    </table>


    <script>
        $(document).ready(function() {
            // Fazendo a requisição AJAX para obter os dados
            $.getJSON("/students", function(data) {
                var tableBody = $("#studentsTable tbody");
                tableBody.empty(); // Limpa as linhas da tabela

                // Preenche a tabela com os dados recebidos
                $.each(data, function(index, student) {
                    var row = "<tr>" +
                                "<td>" + student.ID + "</td>" +
                                "<td>" + student.FirstName + "</td>" +
                                "<td>" + student.LastName + "</td>" +
                                "<td>" + student.BirthDate + "</td>" +
                                "<td>" + student.Email + "</td>" +
                              "</tr>";
                    tableBody.append(row);
                });
            });
        });
    </script>
</body>
</html>
